@{
    Layout = null;
    ViewData["Title"] = "Error";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <p>
        @Html.ActionLink("Voltar", "Index")
    </p>
    <h1>Erro ao se conectar com o banco de dados!</h1>
</body>
</html>